--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: log_auth_attempt(text, boolean, text); Type: FUNCTION; Schema: public; Owner: api_user
--

CREATE FUNCTION public.log_auth_attempt(_username text, _success boolean, _extra text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO audit_log(table_name, operation, username, event_time, extra)
    VALUES ('users', 'LOGIN_ATTEMPT', _username, now(),
        CASE WHEN _success THEN 'success' ELSE 'fail' END || COALESCE(' ' || _extra, ''));
END;
$$;

ALTER FUNCTION public.log_auth_attempt(_username text, _success boolean, _extra text) OWNER TO server_admin;

--
-- Name: log_user_changes(); Type: FUNCTION; Schema: public; Owner: api_user
--

CREATE FUNCTION public.log_user_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF TG_OP = 'INSERT' THEN
        INSERT INTO audit_log(table_name, operation, user_id, username, new_record)
        VALUES ('users', 'INSERT', NEW.id, NEW.name, row_to_json(NEW));
        RETURN NEW;
    ELSIF TG_OP = 'UPDATE' THEN
        INSERT INTO audit_log(table_name, operation, user_id, username, old_record, new_record)
        VALUES ('users', 'UPDATE', NEW.id, NEW.name, row_to_json(OLD), row_to_json(NEW));
        RETURN NEW;
    END IF;
    RETURN NULL;
END;
$$;

ALTER FUNCTION public.log_user_changes() OWNER TO server_admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: api_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);

ALTER TABLE public.alembic_version OWNER TO server_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: api_user
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    name character varying NOT NULL,
    password_hash character varying NOT NULL,
    record double precision,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);

ALTER TABLE public.users OWNER TO server_admin;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: api_user
--

COPY public.alembic_version (version_num) FROM stdin;
42bb82baf313
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: api_user
--

COPY public.users (id, name, password_hash, record, created_at, updated_at) FROM stdin;
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: api_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: users users_id_key; Type: CONSTRAINT; Schema: public; Owner: api_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_id_key UNIQUE (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: api_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_name; Type: INDEX; Schema: public; Owner: api_user
--

CREATE UNIQUE INDEX ix_users_name ON public.users USING btree (name);


--
-- Name: users trg_log_user_insert; Type: TRIGGER; Schema: public; Owner: api_user
--

CREATE TRIGGER trg_log_user_insert AFTER INSERT ON public.users FOR EACH ROW EXECUTE FUNCTION public.log_user_changes();


--
-- Name: users trg_log_user_update; Type: TRIGGER; Schema: public; Owner: api_user
--

CREATE TRIGGER trg_log_user_update AFTER UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.log_user_changes();


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO server_admin;


--
-- Name: TABLE alembic_version; Type: ACL; Schema: public; Owner: api_user
--

GRANT ALL ON TABLE public.alembic_version TO server_admin;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: api_user
--

REVOKE ALL ON TABLE public.users FROM api_user;
GRANT SELECT,INSERT,TRIGGER,UPDATE ON TABLE public.users TO api_user;
GRANT ALL ON TABLE public.users TO server_admin;


--
-- PostgreSQL database dump complete
--

